<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.sunmi.perm.CONTACTLESS_CARD" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />
        <package android:name="com.sunmi.pay.hardware_v3" />
    </queries>

    <application>
        <activity android:name="com.sunmi.emv.l2.view.AppSelectActivity" />
    </application>
</manifest>
